<a href="https://colab.research.google.com/github/JNarimatsu/7_Days_of_Code_Alura-Python-Pandas/blob/main/7DaysOfCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dia_1-Importando_dados

In [ ]:
import pandas as pd
import os
import glob

In [ ]:
# Caminho da pasta onde se encotra os arquivos CSV
caminho_pasta = '/content/drive/MyDrive/7DaysOfCode/Dia_1-Importando_dados/Datasets/dados_emprestimos'

In [ ]:
# Lista todos os arquivos CSV na pasta
arquivos_csv = glob.glob(os.path.join(caminho_pasta, '*.csv'))

In [ ]:
# Lê e concatena todos os CSVs em um único DataFrame
df_unificado = pd.concat([pd.read_csv(arquivo) for arquivo in arquivos_csv],ignore_index=True)

In [ ]:
display(df_unificado.head())

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,1028831,2011018942,NaN,2011/07/01 07:25:27.592000000,2011/07/01 18:58:29.000000000,2011025576,ALUNO DE GRADUAÇÃO
1,1028832,2007009824,2011/07/13 14:30:22.933000000,2011/07/01 07:46:01.133000000,2011/07/28 09:27:13.000000000,2009072448,ALUNO DE GRADUAÇÃO
2,1028833,2007009936,2011/07/13 14:30:22.883000000,2011/07/01 07:46:01.203000000,2011/07/22 08:24:33.000000000,2009072448,ALUNO DE GRADUAÇÃO
3,1028834,2009055437,NaN,2011/07/01 07:52:18.019000000,2011/07/19 13:30:34.000000000,2010065387,ALUNO DE GRADUAÇÃO
4,1028835,2010093874,NaN,2011/07/01 07:52:18.102000000,2011/07/19 13:30:47.000000000,2010065387,ALUNO DE GRADUAÇÃO

In [ ]:
# Desativar a notação científica para colunas numéricas
pd.options.display.float_format = '{:.0f}'.format

# Exibir novamente as primeiras linhas para verificar
display(df_unificado.head())

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,1028831,2011018942,NaN,2011/07/01 07:25:27.592000000,2011/07/01 18:58:29.000000000,2011025576,ALUNO DE GRADUAÇÃO
1,1028832,2007009824,2011/07/13 14:30:22.933000000,2011/07/01 07:46:01.133000000,2011/07/28 09:27:13.000000000,2009072448,ALUNO DE GRADUAÇÃO
2,1028833,2007009936,2011/07/13 14:30:22.883000000,2011/07/01 07:46:01.203000000,2011/07/22 08:24:33.000000000,2009072448,ALUNO DE GRADUAÇÃO
3,1028834,2009055437,NaN,2011/07/01 07:52:18.019000000,2011/07/19 13:30:34.000000000,2010065387,ALUNO DE GRADUAÇÃO
4,1028835,2010093874,NaN,2011/07/01 07:52:18.102000000,2011/07/19 13:30:47.000000000,2010065387,ALUNO DE GRADUAÇÃO

In [ ]:
# Converter as colunas de data para datetime, tratando erros
df_unificado['data_renovacao'] = pd.to_datetime(df_unificado['data_renovacao'], errors='coerce')
df_unificado['data_emprestimo'] = pd.to_datetime(df_unificado['data_emprestimo'], errors='coerce')
df_unificado['data_devolucao'] = pd.to_datetime(df_unificado['data_devolucao'], errors='coerce')

In [ ]:
# Formatar as colunas de data para 'dd/mm/aaaa hh:mm:ss'
df_unificado['data_renovacao'] = df_unificado['data_renovacao'].dt.strftime('%d/%m/%Y %H:%M:%S')
df_unificado['data_emprestimo'] = df_unificado['data_emprestimo'].dt.strftime('%d/%m/%Y %H:%M:%S')
df_unificado['data_devolucao'] = df_unificado['data_devolucao'].dt.strftime('%d/%m/%Y %H:%M:%S')

In [ ]:
display(df_unificado)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,1028831,2011018942,NaN,01/07/2011 07:25:27,01/07/2011 18:58:29,2011025576,ALUNO DE GRADUAÇÃO
1,1028832,2007009824,13/07/2011 14:30:22,01/07/2011 07:46:01,28/07/2011 09:27:13,2009072448,ALUNO DE GRADUAÇÃO
2,1028833,2007009936,13/07/2011 14:30:22,01/07/2011 07:46:01,22/07/2011 08:24:33,2009072448,ALUNO DE GRADUAÇÃO
3,1028834,2009055437,NaN,01/07/2011 07:52:18,19/07/2011 13:30:34,2010065387,ALUNO DE GRADUAÇÃO
4,1028835,2010093874,NaN,01/07/2011 07:52:18,19/07/2011 13:30:47,2010065387,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2962504,2008047075,13/01/2020 23:27:18,30/12/2019 17:48:52,15/01/2020 18:52:27,20190064874,ALUNO DE GRADUAÇÃO
2258014,2962505,2014078494,13/01/2020 23:27:18,30/12/2019 17:48:52,15/01/2020 15:28:51,20190064874,ALUNO DE GRADUAÇÃO
2258015,2962506,2018014453,13/01/2020 23:27:18,30/12/2019 17:48:53,15/01/2020 15:29:08,20190064874,ALUNO DE GRADUAÇÃO
2258016,2962507,2010073307,NaN,30/12/2019 18:05:30,29/01/2020 16:05:27,20181023086,ALUNO DE PÓS-GRADUAÇÃO
2258017,2962508,2010094374,NaN,30/12/2019 18:05:30,29/01/2020 16:05:36,20181023086,ALUNO DE PÓS-GRADUAÇÃO

# Verificando duplicatas

In [ ]:
df_unificado.value_counts()

id_emprestimo  codigo_barras  data_renovacao       data_emprestimo      data_devolucao       matricula_ou_siape  tipo_vinculo_usuario
709705         2009032168     17/01/2010 18:56:43  04/01/2010 09:58:46  20/01/2010 13:14:34  2008009890          ALUNO DE GRADUAÇÃO        7
709704         2006021442     17/01/2010 18:56:43  04/01/2010 09:58:46  01/02/2010 13:59:02  2008009890          ALUNO DE GRADUAÇÃO        7
709698         2009047725     18/01/2010 14:44:41  04/01/2010 09:21:19  02/02/2010 12:02:38  2009046838          ALUNO DE GRADUAÇÃO        3
2351375        L057436        31/01/2016 07:30:36  02/01/2016 08:38:40  21/02/2016 13:16:29  20161010760         ALUNO DE PÓS-GRADUAÇÃO    2
2351376        H004983        31/01/2016 07:31:36  02/01/2016 08:46:42  22/02/2016 16:10:28  20161011168         ALUNO DE PÓS-GRADUAÇÃO    2
                                                                                                                                          ..
1443393        2012037906     20/03/2013 20:17:10  07/03/2013 11:24:19  25/03/2013 08:58:44  2011037700          ALUNO DE GRADUAÇÃO        1
1443395        2011033069     07/04/2013 01:06:51  07/03/2013 11:25:22  07/05/2013 16:19:34  2011106226          ALUNO DE PÓS-GRADUAÇÃO    1
1443401        2011078773     22/03/2013 18:04:25  07/03/2013 11:26:28  03/04/2013 16:53:35  2012037778          ALUNO DE GRADUAÇÃO        1
1443402        2012043035     14/03/2013 09:32:24  07/03/2013 11:27:24  01/04/2013 08:58:02  2013025350          ALUNO DE GRADUAÇÃO        1
1443366        2010049712     20/03/2013 20:11:43  07/03/2013 11:10:58  04/04/2013 08:27:18  2012936484          ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

# Excluindo Duplicatas

In [ ]:
df_unificado = df_unificado.drop_duplicates()

In [ ]:
df_unificado.value_counts()

id_emprestimo  codigo_barras  data_renovacao       data_emprestimo      data_devolucao       matricula_ou_siape  tipo_vinculo_usuario
10322328       2014070441     15/01/2018 12:26:00  29/12/2017 18:21:09  31/01/2018 18:50:25  2014063294          ALUNO DE GRADUAÇÃO        1
709686         2006017618     26/01/2010 08:07:01  04/01/2010 08:08:44  25/02/2010 07:36:25  2008112114          ALUNO DE PÓS-GRADUAÇÃO    1
709687         L184117        18/01/2010 11:07:46  04/01/2010 08:24:21  03/02/2010 08:58:45  200721119           ALUNO DE GRADUAÇÃO        1
709688         2007027500     19/01/2010 15:59:26  04/01/2010 08:27:33  03/02/2010 13:06:30  2009045971          ALUNO DE GRADUAÇÃO        1
709689         L157395        19/01/2010 15:59:26  04/01/2010 08:27:33  03/02/2010 13:06:43  2009045971          ALUNO DE GRADUAÇÃO        1
                                                                                                                                          ..
709717         2007019241     19/01/2010 13:46:16  04/01/2010 10:29:19  03/02/2010 08:06:10  200615610           ALUNO DE GRADUAÇÃO        1
709716         L107038        19/01/2010 13:46:16  04/01/2010 10:29:19  03/02/2010 08:06:24  200615610           ALUNO DE GRADUAÇÃO        1
709715         L200359        19/01/2010 14:38:53  04/01/2010 10:28:01  01/02/2010 14:41:13  2010078996          ALUNO DE GRADUAÇÃO        1
709709         2009011815     03/02/2010 12:58:49  04/01/2010 10:02:59  02/03/2010 16:38:38  2008106583          ALUNO DE PÓS-GRADUAÇÃO    1
709706         2009032010     17/01/2010 18:56:43  04/01/2010 09:58:46  01/02/2010 13:58:46  2008009890          ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [ ]:
dados_exemplares = pd.read_parquet("/content/drive/MyDrive/7DaysOfCode/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet")
dados_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [ ]:
emprestimo_completo = df_unificado.merge(dados_exemplares)
emprestimo_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,1028831,2011018942,NaN,01/07/2011 07:25:27,01/07/2011 18:58:29,2011025576,ALUNO DE GRADUAÇÃO,923553,Acervo Circulante,Biblioteca Setorial Profª. Maria José Mamede G...,REGULAR,645,160931
1,1028832,2007009824,13/07/2011 14:30:22,01/07/2011 07:46:01,28/07/2011 09:27:13,2009072448,ALUNO DE GRADUAÇÃO,174864,Acervo Circulante,Biblioteca Setorial Bertha Cruz Enders - ­Esco...,REGULAR,684,66487
2,1028833,2007009936,13/07/2011 14:30:22,01/07/2011 07:46:01,22/07/2011 08:24:33,2009072448,ALUNO DE GRADUAÇÃO,186809,Acervo Circulante,Biblioteca Setorial Bertha Cruz Enders - ­Esco...,REGULAR,658,71760
3,1028834,2009055437,NaN,01/07/2011 07:52:18,19/07/2011 13:30:34,2010065387,ALUNO DE GRADUAÇÃO,286092,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,610,125251
4,1028835,2010093874,NaN,01/07/2011 07:52:18,19/07/2011 13:30:47,2010065387,ALUNO DE GRADUAÇÃO,904847,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,627,163605
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2962504,2008047075,13/01/2020 23:27:18,30/12/2019 17:48:52,15/01/2020 18:52:27,20190064874,ALUNO DE GRADUAÇÃO,255650,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,693,109656
2072518,2962505,2014078494,13/01/2020 23:27:18,30/12/2019 17:48:52,15/01/2020 15:28:51,20190064874,ALUNO DE GRADUAÇÃO,1171262,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,91,217317
2072519,2962506,2018014453,13/01/2020 23:27:18,30/12/2019 17:48:53,15/01/2020 15:29:08,20190064874,ALUNO DE GRADUAÇÃO,1336108,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,141,221988
2072520,2962507,2010073307,NaN,30/12/2019 18:05:30,29/01/2020 16:05:27,20181023086,ALUNO DE PÓS-GRADUAÇÃO,903708,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,671,163329
2072521,2962508,2010094374,NaN,30/12/2019 18:05:30,29/01/2020 16:05:36,20181023086,ALUNO DE PÓS-GRADUAÇÃO,903897,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,690,163053

In [ ]:
# Salvar em um novo CSV unificado
emprestimo_completo.to_csv('emprestimo_completo.csv', index=False)